body{
	font-family: 'Lato', sans-serif;
}
.letra{
	font-family: 'Anton', sans-serif;
	color: white;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
h1{
	text-shadow: 0px 0px 10px black;
}
.redimensionar{
	width: 100%;
	height: 100%;
}
.quitar-float{
	float: none; 
}
.no-lista{
	padding: 0px;
	margin: 0px;
}
.espacio-arriba{
	margin-top: 10%;
	margin-bottom: 10%;
}
.retraso{
	animation-delay: 0.7s;
}
.padding-largo{
	padding: 5px 10px;
}
.fondo{
	background-color: #EEF2F2;
	border-radius: 15px;
}
.separacion{
	padding-top: 20px;
	padding-bottom: 20px;
}
.no-separacion{
	margin: 0px;
}
.sombra{
	box-shadow: 1px 1px 25px grey;
}
.contenedor{
	max-width: 300px;
}

.pequenio{
	font-size: 12px;
}